name: devops app

on:
  push:
    branches: ["master"] # triggers when pushing to master
  pull_request:
    branches: ["master"] # triggers on pull requests to master

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run tests
        run: |
          echo "Running Flask app tests"
          pytest || echo "No tests found"
